body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.5vh 6vw;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    font-size: 1em;
}

header a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 6vw;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.intro {
    display: flex;
    align-items: center;
}

.intro-image img {
    max-width: 47vw;
    height: auto;
}

.intro-text {
    width: 45vw;
    margin-left: 9vw;
}

.intro-text h2 {
    font-size: 2.5em;
    margin: 2vh 2vw;
}

.intro-text p {
    font-size: 0.9em;
    line-height: 1.6;
    margin: 2vh 2vw;
}

button {
    background: none;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 27px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 2vh 2vw;
}

button:hover {
    background: black;
    color: white;
}

.skills {
    padding: 5.5vh 10vw;
    text-align: center;
}

.skills h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill {
    max-width: 200px;
    margin: 20px;
    text-align: start;
}

.skill h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.skill p {
    font-size: 1em;
    line-height: 1.6;
}

.portfolio {
    padding: 40px;
    text-align: center;
}

.portfolio h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.portfolio-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-item {
    max-width: 320px;
    margin: 20px;
    text-align: start;
}

.portfolio-item img {
    width: 100%;
    min-height: 276px;
    object-fit: fill;
    border-radius: 5px;
}

.portfolio-item button {
    display: block;
    margin: 10px auto;
}

.cta {
    text-align: center;
    padding: 5.5vh 12vw;
}

.cta-image img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.cta-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.cta-text p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: start;
}
